{
  "presets": [
    [
      "@babel/preset-env",
      
      {
        "debug":true,
        "useBuiltIns":"usage",
        "corejs":3,
        "modules":false,
        "targets":[
          "last 5  versions"
        ]
      }
    ],
    [
      "@babel/preset-react"
    ]
  ]
  
}