//colors
$button-primary-color: #0095e0;
$button-disabled-color: #11b3fe;
$input-background-color: #f6f7f8;
$item-background-color: #f6f7f8;
$item-hover-background-color: #eaf1f7;

$outline-color: #0095e0;
$background-color: #e5f0ff;

//fonts
$font-primary: 'Vollkorn', serif;
$font-primary-color: #282828;
